{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <p class="subtitle">GOVERNMENT ASSISTANCE PLATFORM</p>

        <h1>
            Government help,
            <span>made simpler.</span>
        </h1>

        <p>
            GABAY helps citizens submit assistance requests
            while government personnel review, assign, and
            take action on every case.
        </p>

        <div class="buttons">
            <a href="/register" class="btn primary">
                Get Started
            </a>

            <a href="/login" class="btn secondary">
                Login
            </a>
        </div>

    </div>

</section>

{% endblock %}